
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1152px;
    padding: 64px 0px 64px;
    gap: 32px;
    width: 90%;
}


