.desktop__menu {
    display: none;
    position: absolute;
    right: 24.44444%;
    top: 63.17px;
    cursor: pointer;
    width: 90px;
    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
}