.profile__img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
}
.profile__img > img {
    width: 88px;
        height: 88px;
        border-radius: 50%;
        object-fit: cover;
}
/* 
.profile__img > img {
    object-fit: cover;
} */