.profile__img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile__img > img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        object-fit: cover;
        z-index: 10;
        border: 1px solid red;
    }
    


.profile__image__overlay {
           align-items: center;
            background: linear-gradient(0deg, rgba(52, 64, 84, .75), rgba(52, 64, 84, .75));
            border: 5.5px solid #fff;
            border-radius: 50%;
            box-sizing: initial;
            cursor: pointer;
            display: flex;
            display: none;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: initial;
            height: 88px;
            justify-content: flex-end;
            position: absolute;
            width: 88px;
}  

.profile__image__overlay > img {
         position: absolute; 
         top:50%;
         left:50%;
        transform:translate(-50%,-50%);
         background:rgb(0,0,0,0.5);
        /* top:-50%;
        left:-50%; */ 
}  
.show {
    display: flex;
    z-index: 10;
}
/* 

.profile__img > img {
    object-fit: cover;
} */