.main__footer {
    display: flex;
    flex-direction: column;
    padding: 40px, 0px, 40px, 0px;
    width: 100%;
    margin-left:10%;
    margin-bottom:40px;
    max-width: 1440px;
}

.ingressive__img {
    height: 24px;
    width: 99.096px;
    
}
.hng__text {
    color:#667085;
}
.line__break {
    border-top: 1px #eaecf0;
    width:90%;
    opacity:0.6;
}

.zuri__logo span {
    background: #e7332b;
        border-radius: 50%;
        display: inline-block;
        height: 8px;
        width: 8px;
}


@media screen and (min-width:600px) {
    .main__footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left:0;
        padding:0 10%;
    }
}

