

.profile__section {
  
}

.links__section  {

}
.links {
    list-style: none;
    text-decoration: none;
    height: 76px;
    min-width:375px;
    border-radius: 8px;
    padding: 24px 32px 24px 32px;
}
.links:hover {

}

.links:focus {
    
}