.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y:scroll; */
}
.container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:;
}
.profile__section {
   
}
.profile__img {
    
}
.profile__img:after {
    
}
.profile__img:after:hover {

}
.links__section  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
        width: 343px;
        /* height: 528px; */
}
.links {
    text-align: center;
    background: #EAECF0;
    list-style: none;
    text-decoration: none;
    min-height: 68px;
    min-width:375px;
    border-radius: 8px;
    padding: 24px 32px;
    border: 1px solid #EAECF0;
}
.links:hover {

}

.links:focus {

}


@media screen and (min-width:400px) {
    
}