.app {
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1152px;
    padding: 64px 0px 32px;
    gap: 24px;
    border: 1px solid red;
    width: 90%;
}

.profile__section {
    position: relative;
}

.profile__img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__img:after {}

.profile__img:after:hover {}

.mobile__share-_button {
    position:absolute;
    top:63.17px;
    right:29.33px
}
.links__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: 1px solid red;
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #EAECF0;
    list-style: none;
    text-decoration: none;
    width: 80%;
    border-radius: 8px;
    padding: 24px 32px;
    border: 1px solid #EAECF0;
    color: #101828;
}

.links:hover {}

.links:focus {}

.footer__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__section img {
    margin: 0 10px;
}
.main__footer {
    display: flex;
    flex-direction: column;
    width:90%;
}
 .ingressive__img {
    height: 24px;
    width: 99.096px;
 }
 .zuri__img {
    height: 18.582px;
    width: 138.775px;
 }


