

.link__item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #EAECF0;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    border-radius: 8px;
    padding: 24px 32px;
    color: #101828;
}
.link__item:hover {
    background-color: #D0D5DD;
    transition: 0.2s;
}
.share__icon {
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    right:10px; 
    cursor: pointer;
} 

